@font-face {
  font-family: "OpenDyslexic-Bold";
  src: url("global/assets/fonts/open-dyslexic/OpenDyslexic-Bold.otf") format("opentype");
}
@font-face {
  font-family: "OpenDyslexic-BoldItalic";
  src: url("global/assets/fonts/open-dyslexic/OpenDyslexic-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "OpenDyslexic-Italic";
  src: url("global/assets/fonts/open-dyslexic/OpenDyslexic-Italic.otf") format("opentype");
}
@font-face {
  font-family: "OpenDyslexic-Regular";
  src: url("global/assets/fonts/open-dyslexic/OpenDyslexic-Regular.otf") format("opentype");
}
html {
  font-size: 16px;
}

body {
  margin: 0px;
  font-family: "OpenDyslexic-Regular", sans-serif;
}

h1 {
  color: #493DAF;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
}

button:hover {
  background-color: transparent;
}

.ux-grid, .index-intro-grid, .ux-grid-specific {
  display: grid;
  height: 100%;
}

.ux-grid-specific {
  grid-template-columns: auto;
  grid-template-rows: 0.25fr 0.5fr 0.25fr;
}

.ux-centre-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ux-red {
  background-color: red;
}

.circle {
  border-radius: 50%;
  width: 100%;
}

.align-centre {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
}

.align-middle-right {
  display: flex;
  justify-content: flex-end; /* Align contents to the right */
  align-items: center; /* Vertical center */
}

.page-contents-wrapper {
  margin: 40px;
}

.page-header {
  background: #493DAF;
  color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  padding: 30px 20px 30px 20px;
  font-size: 1.5rem;
}

.page-intro {
  margin: 20px 0px 0px 0px;
}

.section-intro {
  margin: 20px 0px 0px 0px;
  padding: 0px 20px 0px 20px;
}

.vert-spacing-m {
  padding: 20px 0px 20px 0px;
}

.index-intro-grid {
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: auto;
}

.jumping-boy-img {
  position: absolute;
  right: 0px;
  top: 100px;
  width: 50vw;
  height: auto;
  z-index: 0;
}

.juggle-pins-decor {
  height: 100vh;
}

.mobile-menu-overlay {
  position: absolute;
  top: calc(100px + 25px);
  left: 20px;
  height: 100vh; /* 100% of the viewport height */
  width: calc(100vw - 20px - 53.3333333333px);
  background-color: rgba(73, 61, 175, 0.25); /* Color with opacity */
  border-radius: 30px;
  z-index: 0; /* Make sure it's above other content */
  backdrop-filter: blur(10px); /* Apply blur effect */
}

.mobile-menu-decor-left {
  position: absolute;
  left: 30px;
  top: calc(100px + 25px + lateral-decor-add-offse);
  height: auto;
  width: auto;
  z-index: 1;
}

.mobile-menu-decor-top {
  position: absolute;
  left: 30%;
  top: 100px;
  height: auto;
  width: 100%;
  z-index: 1;
}

.mobile-menu-decor-right {
  position: absolute;
  right: 32px;
  top: calc(100px + 25px + lateral-decor-add-offse);
  height: 100%;
  width: auto;
  z-index: 1;
}

/*# sourceMappingURL=index.css.map */
