@font-face {
  font-family: "OpenDyslexic-Bold";
  src: url("shared/fonts/open-dyslexic/OpenDyslexic-Bold.otf") format("opentype");
}
@font-face {
  font-family: "OpenDyslexic-BoldItalic";
  src: url("shared/fonts/open-dyslexic/OpenDyslexic-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "OpenDyslexic-Italic";
  src: url("shared/fonts/open-dyslexic/OpenDyslexic-Italic.otf") format("opentype");
}
@font-face {
  font-family: "OpenDyslexic-Regular";
  src: url("shared/fonts/open-dyslexic/OpenDyslexic-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SylexiadSerifThin-Bold";
  src: url("shared/fonts/sylexiad/SylexiadSerifThin-Bold.woff") format("opentype");
}
@font-face {
  font-family: "SylexiadSerifThin-BoldItalic";
  src: url("shared/fonts/sylexiad/SylexiadSerifThin-BoldItalic.woff") format("opentype");
}
@font-face {
  font-family: "SylexiadSerifThin-Italic";
  src: url("shared/fonts/sylexiad/SylexiadSerifThin-Italic.woff") format("opentype");
}
@font-face {
  font-family: "SylexiadSerifThin";
  src: url("shared/fonts/sylexiad/SylexiadSerifThin.woff") format("opentype");
}
@font-face {
  font-family: "MerriweatherSans-Medium";
  src: url("shared/fonts/Merriweather-sans/MerriweatherSans-Medium.ttf") format("opentype");
}
@font-face {
  font-family: "DoppioOne-Regular";
  src: url("shared/fonts/doppio_one/DoppioOne-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Suwannaphum-Regular";
  src: url("shared/fonts/Suwannaphum/Suwannaphum-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Suwannaphum-Bold";
  src: url("shared/fonts/Suwannaphum/Suwannaphum-Bold.ttf") format("opentype");
}
html {
  font-size: 16px;
}

body {
  margin: 0px;
  font-family: "Suwannaphum-Regular", sans-serif;
}

h1 {
  color: #493DAF;
  margin: 0px;
  font-family: "Suwannaphum-Bold", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
}

button:hover {
  background-color: transparent;
}

.ux-grid, .ux-grid-specific {
  display: grid;
  height: 100%;
}

.ux-grid-specific {
  grid-template-columns: auto;
  grid-template-rows: 0.25fr 0.5fr 0.25fr;
}

.centre-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.full-width-img {
  border-radius: 30px;
  width: 100%;
  max-width: 800px;
}
@media screen and (max-width: 860px) {
  .full-width-img {
    max-width: 500px;
  }
}
@media screen and (max-width: 720px) {
  .full-width-img {
    max-width: 400px;
  }
}

.half-width-img {
  border-radius: 30px;
  width: 90%;
  max-width: 800px;
  margin: 8px 8px 8px 8px;
}
@media screen and (max-width: 860px) {
  .half-width-img {
    max-width: 500px;
  }
}
@media screen and (max-width: 720px) {
  .half-width-img {
    max-width: 400px;
  }
}

.ux-red {
  background-color: red;
}

.circle {
  border-radius: 50%;
  width: 100%;
}

.align-centre {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
}

.centre-me-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.align-middle-right {
  display: flex;
  justify-content: flex-end; /* Align contents to the right */
  align-items: center; /* Vertical center */
}

.page-contents-wrapper {
  margin: 40px 100px 40px 40px;
}
@media screen and (max-width: 720px) {
  .page-contents-wrapper {
    margin: 20px 20px 20px 20px; /* top right bottom left */
  }
}

.page-header {
  background: #493DAF;
  color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  padding: 30px 20px 30px 20px;
  font-size: 1.5rem;
}

.page-intro {
  margin: 20px 0px 0px 0px;
}

.section-intro {
  margin: 20px 0px 0px 0px;
  padding: 0px 20px 0px 20px;
}

.vert-spacing-m {
  padding: 20px 0px 20px 0px;
}

.standard-button {
  background-color: #FFDD56;
  border: 1px solid black;
  border-radius: 13px;
  padding: 10px;
  width: 150px;
  height: 50px;
  margin: 20px 0px 0px 20px;
}

.full-width {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*# sourceMappingURL=why-social-circus.css.map */
