@font-face {
  font-family: "OpenDyslexic-Bold";
  src: url("../../../shared/fonts/open-dyslexic/OpenDyslexic-Bold.otf") format("opentype");
}
@font-face {
  font-family: "OpenDyslexic-BoldItalic";
  src: url("../../../shared/fonts/open-dyslexic/OpenDyslexic-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "OpenDyslexic-Italic";
  src: url("../../../shared/fonts/open-dyslexic/OpenDyslexic-Italic.otf") format("opentype");
}
@font-face {
  font-family: "OpenDyslexic-Regular";
  src: url("../../../shared/fonts/open-dyslexic/OpenDyslexic-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SylexiadSerifThin-Bold";
  src: url("../../../shared/fonts/sylexiad/SylexiadSerifThin-Bold.woff") format("opentype");
}
@font-face {
  font-family: "SylexiadSerifThin-BoldItalic";
  src: url("../../../shared/fonts/sylexiad/SylexiadSerifThin-BoldItalic.woff") format("opentype");
}
@font-face {
  font-family: "SylexiadSerifThin-Italic";
  src: url("../../../shared/fonts/sylexiad/SylexiadSerifThin-Italic.woff") format("opentype");
}
@font-face {
  font-family: "SylexiadSerifThin";
  src: url("../../../shared/fonts/sylexiad/SylexiadSerifThin.woff") format("opentype");
}
@font-face {
  font-family: "MerriweatherSans-Medium";
  src: url("../../../shared/fonts/Merriweather-sans/MerriweatherSans-Medium.ttf") format("opentype");
}
@font-face {
  font-family: "DoppioOne-Regular";
  src: url("../../../shared/fonts/doppio_one/DoppioOne-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Suwannaphum-Regular";
  src: url("../../../shared/fonts/Suwannaphum/Suwannaphum-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Suwannaphum-Bold";
  src: url("../../../shared/fonts/Suwannaphum/Suwannaphum-Bold.ttf") format("opentype");
}
html {
  font-size: 16px;
}

body {
  margin: 0px;
  font-family: "Suwannaphum-Regular", sans-serif;
}

h1 {
  color: #493DAF;
  margin: 0px;
  font-family: "Suwannaphum-Bold", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
}

button:hover {
  background-color: transparent;
}

.ux-grid, .top-bar-contents, .ux-grid-specific {
  display: grid;
  height: 100%;
}

.ux-grid-specific {
  grid-template-columns: auto;
  grid-template-rows: 0.25fr 0.5fr 0.25fr;
}

.centre-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.full-width-img {
  border-radius: 30px;
  width: 100%;
  max-width: 800px;
}
@media screen and (max-width: 860px) {
  .full-width-img {
    max-width: 500px;
  }
}
@media screen and (max-width: 720px) {
  .full-width-img {
    max-width: 400px;
  }
}

.half-width-img {
  border-radius: 30px;
  width: 90%;
  max-width: 800px;
  margin: 8px 8px 8px 8px;
}
@media screen and (max-width: 860px) {
  .half-width-img {
    max-width: 500px;
  }
}
@media screen and (max-width: 720px) {
  .half-width-img {
    max-width: 400px;
  }
}

.ux-red {
  background-color: red;
}

.circle, .euphoric-logo {
  border-radius: 50%;
  width: 100%;
}

.align-centre, .header-page-link-big, .test-big, .header-page-link, .test {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
}

.centre-me-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.align-middle-right, .align-middle-right-logo {
  display: flex;
  justify-content: flex-end; /* Align contents to the right */
  align-items: center; /* Vertical center */
  width: 100%;
}

.page-contents-wrapper {
  margin: 40px 100px 40px 40px;
}
@media screen and (max-width: 720px) {
  .page-contents-wrapper {
    margin: 20px 20px 20px 20px; /* top right bottom left */
  }
}

.page-title {
  margin-right: 30px;
}

.page-header {
  background: #493DAF;
  color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  padding: 30px 20px 30px 20px;
  font-size: 1.5rem;
}

.page-intro {
  margin: 20px 0px 0px 0px;
}
@media screen and (max-width: 720px) {
  .page-intro {
    margin-right: 30px; /*stop the text from overlapping with the side bar on mobile */
  }
}

.section-intro {
  margin: 20px 0px 0px 0px;
  padding: 0px 20px 0px 20px;
}

.vert-spacing-m {
  padding: 20px 0px 20px 0px;
}

.standard-button {
  background-color: #FFDD56;
  border: 1px solid black;
  border-radius: 13px;
  padding: 10px;
  width: 150px;
  height: 50px;
  margin: 20px 0px 0px 20px;
}

.full-width {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.top-bar {
  background-color: #493DAF;
  border-radius: 0px 0px 0px 50px; /* Adjust the value to control the roundness */
}

.top-bar-contents {
  width: 90%;
  grid-template-columns: 0.125fr 0.125fr 0.125fr 0.125fr 0.125fr 0.125fr 0.125fr 0.125fr;
  grid-template-rows: auto;
  color: #ffffff;
  height: 100px;
  background-color: #493DAF;
  border-radius: 0px 0px 0px 50px; /* Adjust the value to control the roundness */
}
@media screen and (max-width: 960px) {
  .top-bar-contents {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .top-bar-contents {
    grid-template-columns: 0.25fr 0.25fr 0.5fr;
  }
}
@media screen and (max-width: 500px) {
  .top-bar-contents {
    grid-template-columns: 0.5fr 0.25fr 1fr;
  }
}
@media screen and (max-width: 300px) {
  .top-bar-contents {
    grid-template-columns: 0.5fr 0.25fr 0.6fr;
  }
}

.ux-page-contents {
  margin: 30px;
}

.euphoric-logo {
  max-width: 70px;
  margin-right: 10px;
}
@media screen and (max-width: 860px) {
  .euphoric-logo {
    max-width: 60px;
  }
}
@media screen and (max-width: 720px) {
  .euphoric-logo {
    max-width: 55px;
  }
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 720px) {
  .burger-menu {
    width: 100%;
    max-width: 70px;
    display: inline;
    padding: 0px 30px 0px 0px;
  }
}
@media screen and (max-width: 420px) {
  .burger-menu {
    padding: 0px;
  }
}

.header-page-link, .test {
  font-size: 1.25rem;
  font-family: "Suwannaphum-Bold", sans-serif;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .header-page-link, .test {
    font-size: 1rem;
  }
}
@media screen and (max-width: 865px) {
  .header-page-link, .test {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 720px) {
  .header-page-link, .test {
    display: none;
  }
}

.header-page-link-big, .test-big {
  font-size: 1.5rem;
  /* Cheating a bit to be honest */
}
@media screen and (max-width: 860px) {
  .header-page-link-big, .test-big {
    font-size: 1.25rem;
  }
}
.vertical_transition, .mobile-dropdown-menu-button, .mobile-dropdown-menu-button-8, .mobile-dropdown-menu-button-7, .mobile-dropdown-menu-button-6, .mobile-dropdown-menu-button-5, .mobile-dropdown-menu-button-4, .mobile-dropdown-menu-button-3, .mobile-dropdown-menu-button-2, .mobile-dropdown-menu-button-1, .mobile-menu-decor-right, .mobile-menu-decor-top, .mobile-menu-decor-left, .mobile-menu-overlay, .side-bar-open {
  transition: height 0.6s ease;
}

.side-bar, .side-bar-open {
  position: absolute;
  right: 0;
  top: 100px;
  background-color: #493DAF;
  height: 350px;
  width: 70px;
  border-radius: 0px 0px 0px 50px; /* topleft, topright, bottomright, bottomleft (I think lol)*/
  z-index: 1;
}
@media screen and (max-width: 720px) {
  .side-bar, .side-bar-open {
    display: inline;
    width: 33.3333333333px;
    height: 150px;
  }
}

.side-bar-open {
  height: 100vh;
}

.float-rounded-corner {
  position: absolute;
  right: 70px;
  top: 100px;
  height: 350px;
  width: 100px;
  border-radius: 0px 0px 0px 50px;
  z-index: 1;
}
@media screen and (max-width: 720px) {
  .float-rounded-corner {
    right: 33.3333333333px;
  }
}

.mobile-menu-overlay {
  display: none;
}
@media screen and (max-width: 720px) {
  .mobile-menu-overlay {
    display: block;
    position: absolute;
    top: calc(100px + 25px);
    left: 20px;
    height: 100vh; /* 100% of the viewport height */
    width: calc(100vw - 20px - 53.3333333333px);
    background-color: rgba(73, 61, 175, 0.25); /* Color with opacity */
    border-radius: 30px;
    z-index: 1;
    backdrop-filter: blur(10px); /* Apply blur effect */
    transition: height 0.6s ease;
  }
}

.mobile-menu-decor-left {
  display: none;
}
@media screen and (max-width: 720px) {
  .mobile-menu-decor-left {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100px + 25px + 5px);
    height: auto;
    width: auto;
    z-index: 2;
  }
}

.mobile-menu-decor-top {
  display: none;
}
@media screen and (max-width: 720px) {
  .mobile-menu-decor-top {
    display: block;
    position: absolute;
    left: 30%;
    top: 100px;
    height: auto;
    z-index: 2;
  }
}

.mobile-menu-decor-right {
  display: none;
}
@media screen and (max-width: 720px) {
  .mobile-menu-decor-right {
    display: block;
    position: absolute;
    right: 32px;
    top: calc(100px + 25px + 5px);
    height: 100%;
    width: auto;
    z-index: 2;
  }
}

.mobile-dropdown-menu-button, .mobile-dropdown-menu-button-8, .mobile-dropdown-menu-button-7, .mobile-dropdown-menu-button-6, .mobile-dropdown-menu-button-5, .mobile-dropdown-menu-button-4, .mobile-dropdown-menu-button-3, .mobile-dropdown-menu-button-2, .mobile-dropdown-menu-button-1 {
  display: none;
}
@media screen and (max-width: 720px) {
  .mobile-dropdown-menu-button, .mobile-dropdown-menu-button-8, .mobile-dropdown-menu-button-7, .mobile-dropdown-menu-button-6, .mobile-dropdown-menu-button-5, .mobile-dropdown-menu-button-4, .mobile-dropdown-menu-button-3, .mobile-dropdown-menu-button-2, .mobile-dropdown-menu-button-1 {
    display: block;
    position: absolute;
    background-color: #493DAF;
    border: 1px solid black;
    height: 60px;
    width: calc(calc(100vw - 20px - 53.3333333333px) * 0.7);
    border-radius: 13px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #ffffff;
    left: calc(20px + calc(100vw - 20px - 53.3333333333px) / 2 - calc(calc(100vw - 20px - 53.3333333333px) * 0.7) / 2);
    z-index: 2;
  }
}

.mobile-dropdown-menu-button-1 {
  top: calc(100px + 25px + 30px + 0 * 80px);
}

.mobile-dropdown-menu-button-2 {
  top: calc(100px + 25px + 30px + 1 * 80px);
}

.mobile-dropdown-menu-button-3 {
  top: calc(100px + 25px + 30px + 2 * 80px);
}

.mobile-dropdown-menu-button-4 {
  top: calc(100px + 25px + 30px + 3 * 80px);
}

.mobile-dropdown-menu-button-5 {
  top: calc(100px + 25px + 30px + 4 * 80px);
}

.mobile-dropdown-menu-button-6 {
  top: calc(100px + 25px + 30px + 5 * 80px);
}

.mobile-dropdown-menu-button-7 {
  top: calc(100px + 25px + 30px + 6 * 80px);
}

.mobile-dropdown-menu-button-8 {
  top: calc(100px + 25px + 30px + 7 * 80px);
}

.test {
  position: relative;
}

.test-big {
  position: relative;
}

.squiggle-test, .squiggle-test-big-link {
  position: absolute;
  bottom: 3px;
}

.squiggle-test-big-link {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
@media screen and (max-width: 720px) {
  .squiggle-test-big-link {
    bottom: 10px;
  }
}

.squiggle {
  position: absolute;
  right: 0;
  top: 100px;
  background-color: #493DAF;
  height: 350px;
  width: 70px;
  border-radius: 0px 0px 0px 50px; /* topleft, topright, bottomright, bottomleft (I think lol)*/
  z-index: 1;
}
@media screen and (max-width: 720px) {
  .squiggle {
    display: inline;
    width: 33.3333333333px;
    height: 150px;
  }
}

/*# sourceMappingURL=top-bar.css.map */
